@media screen and (-ms-high-contrast: none) {
	.sectionOne {
		&__description {
			max-width: 100%;
		}

		&__itemsWrap {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: -20px;
			padding: 0 5px;
		}

		&__item {
			margin: 0 10px 20px;
			width: calc(25% - 20px);
		}
	}

	.sectionFour {
		&__ieFix {
			.row {
				flex-grow: 1;
			}
		}
	}
}

@media screen and (-ms-high-contrast: none) and (max-width: $mobile-max) {
	.sectionOne {
		&__itemsWrap {
			margin-bottom: -8px;
			padding: 0 11px;
		}

		&__item {
			margin: 0 4px 8px;
			width: calc(50% - 8px);
		}
	}
}

@media screen and (-ms-high-contrast: none) and (min-width: $tablet-min) and (max-width: $tablet-max) {
	.sectionOne {
		&__item {
			margin: 0 10px 20px;
			width: calc(33.33% - 20px);
		}
	}

	.sectionThree {
		&__item {
			img {
				height: 74.11px;
			}
		}
	}
}

@media screen and (-ms-high-contrast: none) and (min-width: $desktop-min) and (max-width: $desktop-max) {
	.sectionThree {
		&__item {
			img {
				height: 103.75px;
			}
		}
	}
}