@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html,
body {
  min-height: 100vh;
}

.logo {
  background-image: url("../img/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.logo_white {
  background-image: url("../img/logo-white.svg");
}
@media (max-width: 767.98px) {
  .logo {
    height: 50px;
    width: 150px;
  }
}
@media (min-width: 576px) {
  .logo {
    height: 56px;
    width: 168px;
  }
}

h1 {
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 25px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
h1 span {
  color: #0c8543;
  font-size: 50px;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  h1 {
    font-size: 22px;
    line-height: 26px;
  }
  h1 span {
    font-size: 22px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 36px;
    line-height: 42px;
  }
  h1 span {
    font-size: 40px;
    line-height: 42px;
  }
}

h2 {
  font-size: 27px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 14px;
}
h2 span {
  color: #0c8543;
}
@media (max-width: 767.98px) {
  h2 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
  }
}
@media (min-width: 576px) and (max-width: 991.98px) {
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
}

body {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
@media (max-width: 767.98px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}

p {
  margin-bottom: 19px;
}

header {
  border-bottom: 1px #e0e0e0 solid;
}
@media (max-width: 767.98px) {
  header {
    padding: 10px;
  }
}
@media (min-width: 576px) {
  header {
    padding: 20px;
  }
}

.sectionOne {
  padding: 50px 0 55px;
}
@media (max-width: 767.98px) {
  .sectionOne {
    padding: 25px 0 35px;
  }
}
.sectionOne__itemsWrap {
  display: grid;
}
@media (min-width: 992px) {
  .sectionOne__itemsWrap {
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(calc(16% - 16px), 1fr));
    margin-top: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .sectionOne__itemsWrap {
    grid-gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 14px), 1fr));
    margin-top: 15px;
  }
}
@media (max-width: 767.98px) {
  .sectionOne__itemsWrap {
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 4px), 1fr));
  }
}
.sectionOne__item {
  align-items: center;
  background: #f3f9f6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 18px;
}
@media (max-width: 767.98px) {
  .sectionOne__item {
    border-radius: 8px;
    padding: 20px 16px;
  }
}
.sectionOne__icon {
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 16px;
}
@media (max-width: 767.98px) {
  .sectionOne__icon {
    height: 60px;
    width: 60px;
  }
}
@media (min-width: 576px) {
  .sectionOne__icon {
    height: 70px;
    width: 70px;
  }
}
.sectionOne__icon_warranty {
  background-image: url("../img/icon-1.svg");
}
.sectionOne__icon_fit {
  background-image: url("../img/icon-2.svg");
}
.sectionOne__icon_saving {
  background-image: url("../img/icon-3.svg");
}
.sectionOne__icon_rating {
  background-image: url("../img/icon-4.svg");
}
.sectionOne__description {
  font-size: 21px;
  line-height: 27.3px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .sectionOne__description {
    font-size: 16px;
    line-height: 20.8px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .sectionOne__description {
    font-size: 19px;
    line-height: 22px;
  }
}

.sectionTwo {
  background: #f3f9f6;
  padding: 20px 0;
}
@media (max-width: 767.98px) {
  .sectionTwo {
    padding: 5px 0;
  }
}
.sectionTwo__item {
  margin-bottom: 40px;
  margin-top: 40px;
}
@media (max-width: 767.98px) {
  .sectionTwo__item {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .sectionTwo__item .col {
    flex: 1 1 auto;
  }
}
@media (min-width: 992px) {
  .sectionTwo h2 {
    margin-top: 25px;
  }
}
.sectionTwo__fixIcon {
  background: url("../img/fix-icon.png") center no-repeat;
  background-size: contain;
  height: 86.68px;
  position: absolute;
  width: 240px;
}
@media (max-width: 991.98px) {
  .sectionTwo__fixIcon {
    height: 73px;
    right: 24px;
    top: 10px;
    width: 200px;
  }
}
@media (min-width: 768px) {
  .sectionTwo__fixIcon {
    right: -5px;
    top: -20px;
  }
}
.sectionTwo__image {
  border-radius: 8px;
  height: auto;
  width: 100%;
}

.sectionThree {
  padding: 60px 0;
}
.sectionThree__itemsWrap {
  margin-top: 25px;
}
.sectionThree__item {
  background: #0c8543;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 211px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .sectionThree__item {
    height: 145px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .sectionThree__item {
    height: 170px;
  }
}
.sectionThree__title {
  color: #fff;
  font-size: 21px;
  line-height: 27.3px;
  margin: auto;
  padding: 0 10px;
  text-align: center;
}
@media (max-width: 991.98px) {
  .sectionThree__title {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .sectionThree__title {
    font-size: 16px;
    line-height: 21px;
  }
}
.sectionThree__img {
  border-radius: 8px;
  height: auto;
  width: 100%;
}

.sectionFour {
  background: #f6f6f6;
}
@media (max-width: 767.98px) {
  .sectionFour {
    padding: 35px 0 15px;
  }
}
.sectionFour__iconWarranty {
  background: url("../img/icon-5.svg") center no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .sectionFour__iconWarranty {
    padding-top: 84%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 30px);
  }
}
@media (max-width: 767.98px) {
  .sectionFour__iconWarranty {
    height: 160px;
    margin: 0 auto 20px;
    width: 170px;
  }
}
@media (min-width: 768px) {
  .sectionFour .container {
    height: 216px;
  }
  .sectionFour__warrantyDescription {
    margin-top: 20px;
  }
}

.sectionFive {
  padding: 60px 0;
}
@media (max-width: 767.98px) {
  .sectionFive {
    padding: 36px 0 34px;
  }
}

footer {
  background: #0c8543;
  color: #fff;
  padding: 25px 0;
}
footer .nav__link {
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
}
@media (min-width: 992px) {
  footer .nav__link:not(:last-of-type) {
    margin-right: 30px;
  }
}
@media (max-width: 991.98px) {
  footer .nav__link:not(:last-of-type) {
    margin-bottom: 9.2px;
  }
}
@media (max-width: 991.98px) {
  footer .nav {
    margin: 20px 0;
  }
}
footer .copyright {
  font-size: 12px;
  line-height: 18px;
}

@media screen and (-ms-high-contrast: none) {
  .sectionOne .container {
    overflow: hidden;
  }
  .sectionOne__description {
    max-width: 100%;
  }
  .sectionOne__itemsWrap {
    display: -ms-grid;
    padding: 0 5px;
  }
  .sectionOne__item {
    margin: 0 10px;
  }
  .sectionOne__item:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .sectionOne__item:nth-of-type(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
  }
  .sectionOne__item:nth-of-type(3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
  }

  .sectionFour__ieFix .row {
    flex-grow: 1;
  }
}
@media screen and (-ms-high-contrast: none) and (max-width: 767.98px) {
  .sectionOne__itemsWrap {
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    padding: 0 11px;
  }
  .sectionOne__item {
    margin: 0 4px;
  }
  .sectionOne__item:nth-of-type(n+3) {
    margin-top: 8px;
  }
  .sectionOne__item:nth-of-type(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .sectionOne__item:nth-of-type(4) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
  }
  .sectionOne__item:nth-of-type(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .sectionOne__item:nth-of-type(6) {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
  }
}
@media screen and (-ms-high-contrast: none) and (min-width: 768px) and (max-width: 991.98px) {
  .sectionOne__itemsWrap {
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
  }
  .sectionOne__item:nth-of-type(n+4) {
    margin-top: 20px;
  }
  .sectionOne__item:nth-of-type(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .sectionOne__item:nth-of-type(5) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
  }
  .sectionOne__item:nth-of-type(6) {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
  }

  .sectionThree__item img {
    height: 74.11px;
  }
}
@media screen and (-ms-high-contrast: none) and (min-width: 992px) {
  .sectionOne__itemsWrap {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
  }
  .sectionOne__item:nth-of-type(4) {
    -ms-grid-column: 4;
    -ms-grid-row: 1;
  }
  .sectionOne__item:nth-of-type(5) {
    -ms-grid-column: 5;
    -ms-grid-row: 1;
  }
  .sectionOne__item:nth-of-type(6) {
    -ms-grid-column: 6;
    -ms-grid-row: 1;
  }
}
@media screen and (-ms-high-contrast: none) and (min-width: 992px) and (max-width: 1199.98px) {
  .sectionThree__item img {
    height: 103.75px;
  }
}
